<app-dashboard></app-dashboard>

<!-- CONTENT -->
<section id="content">

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <div>

                    <h1>Seguros: Consultar</h1>
                </div>
                <ul class="breadcrumb">
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                    <li>
                        <a class="active" href="/seguros">Seguros</a>
                    </li>
                </ul>
            </div>
            <!-- <a href="#" class="btn-download">
                <i class='bx bxs-cloud-download'></i>
                <span class="text">Download PDF</span>
            </a> -->
        </div>
    </main>

    <div style="text-align: center;">
        <h2 style="color: blue;"><b>Datos del cliente</b></h2>
    </div>

    <!-- CARD SERVICES     START HERE -->

    <div class="row">
        <div class="col-2">

        </div>

        <div class="col-8">
            <div class="row">
                <div class="input-group">
                  

                    <div class="col-12">
                    <b>Cédula:</b>
                        <input class="form-control" placeholder="Ej: 4024596321" aria-label="With textarea">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-2">

        </div>

        <button class="btn btn-success" type="button" style="margin-top: 25px;">Consultar</button>
    </div>

    <!-- CARD SERVICES   END HERE -->


    <!-- MAIN -->
</section>
<!-- CONTENT -->