<app-dashboard></app-dashboard>

<!-- CONTENT -->
<section id="content">

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <div>

                    <h1>Soporte: </h1>
                </div>
                <ul class="breadcrumb">
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    
    <div class="row" style="margin-top: -50px;">
        <div class="col-12">
            <div style="text-align: center;">
                <img src="assets/img/logo-new.png" style="width: 250px;">
             </div>
        </div>
        <div class="col-12" style="text-align: center; margin-top: 50px;" >   
            <h2><span style="color: blue;">Teléfono / WhatsApp</span></h2>
            <b><span>(809) 489-4100</span></b>
            <br>
            <b><span>{{this.gmail}}</span></b>
        </div>

        <div class="col-12" style="text-align: center; margin-top: 50px;" >   
            <h2><span style="color: blue;">Horario</span></h2>
            <b><span>Lunes - Viernes: 8:00am / 9:30pm</span></b>
            <br>
            <b><span>Sábado: 8:00am / 9:00pm</span></b>
            <br>
            <b><span>Domingo: 8:00am / 6:00pm</span></b>
        </div>

        <div class="col-12" style="text-align: center; margin-top: 50px;" >   
            <h2><span style="color: blue;">Redes Sociales</span></h2>
        </div>
        <div class="col-6" style="text-align: end; " >   
            <img src="assets/img/facebook.png"  style="width: 80px;">
        </div>
        <div class="col-6" style="text-align: left; " >   
            <img src="assets/img/instagram.png" style="width: 80px;">
        </div>

        <div class="col-12" style="text-align: center; " >   
            <span >Av. Juan Pablo Duarte,Plaza Bella Terra Mall </span><br>
            <span >Segundo Nivel, Mod. B61, Santiago </span><br>
            <span >Version: </span><br>
            <span >5.1.2 </span>
        </div>
    </div>

    


  
</section>
<!-- CONTENT -->