<app-dashboard></app-dashboard>

<!-- CONTENT -->
<section id="content">

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <div>

                    <h1>Paga Fácil: </h1>
                </div>
                <ul class="breadcrumb">
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
            <!-- <a href="#" class="btn-download">
                <i class='bx bxs-cloud-download'></i>
                <span class="text">Download PDF</span>
            </a> -->
        </div>
    </main>

    <div style="text-align: center;">
        <h2 style="color: #3c91e6"><b>Qué desea hacer?</b></h2>
    </div>

    <!-- CARD SERVICES     START HERE -->

    <div class="row">
        <div class="col-2">

        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-6" style=" text-align:center;" (click)="_goService(1)">
                    <div class="card" style="width: 10rem;margin: 0 auto;float: none; margin-bottom: 10px; " >
                        <img src="assets/img/buscar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pagar</h5>
                          
                        </div>
                      </div>
                </div>
        
                <div class="col-6" style=" text-align:center;" (click)="_goService(2)">
                    <div class="card" style="width: 10rem;margin: 0 auto;float: none; margin-bottom: 10px; " >
                        <img src="assets/img/anular.png" class="card-img-top" alt="..." >
                        <div class="card-body">
                          <h5 class="card-title">Anular</h5>
                        </div>
                      </div>
                </div>
            </div>
            
        </div>

        <div class="col-2">

        </div>
       
    </div>

    <!-- CARD SERVICES   END HERE -->


    <!-- MAIN -->
</section>
<!-- CONTENT -->