<app-dashboard></app-dashboard>

<!-- CONTENT -->
<section id="content">

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <div>
                    <h1>Anular:</h1>
                </div>
                <ul class="breadcrumb">
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                    <li>
                        <a class="active" href="/pagaFacil">Paga Fácil</a>
                    </li>
                </ul>
            </div>

           
            <!-- <a href="#" class="btn-download">
                <i class='bx bxs-cloud-download'></i>
                <span class="text">Download PDF</span>
            </a> -->
        </div>
    </main>

    <div style="text-align: center;">
        <h2 style="color: blue;"> <b>No hay datos.</b></h2>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button" >Consultar </button>
    </div>

    
    <!-- MAIN -->
</section>
<!-- CONTENT -->